
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderwrap{
  width: 950px;
  height: 450px;

}

.sliderwrap img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}
